.card {
    padding: 30px 15px 40px;
    height: 100%;
    border: 1px solid #EDEDED;
    background-color: #fff;
    &__title {
        font-family: $font-family-dinpro;
        font-weight: 700;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: $color-accent;

        margin: 0 0 14px;
    }
    &__text {
        font-family: $font-family-dinpro;
        font-size: 1.25rem;
        letter-spacing: -0.03em;
        color: #222222;
    }
    @media (min-width: $lg) {
        padding: 50px 70px 60px 60px;
        &__text {
            font-size: 1.5rem;
        }
    }
}

.cards-list {
    @media (max-width: $md) {
        &__item {
            &:nth-last-child(n+2) .card {
                border-bottom: 0;
            }
        }
    }
    @media (min-width: $md) {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: 50%;
            flex-basis: 50%;
    
            &:nth-child(2n) .card {
                border-left: 0;
            }

            &:nth-last-child(n+3) .card {
                border-bottom: 0;
            }
        }
    }
}