textarea {
    overflow: auto;
}
.input-text {
    display: block;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid rgba(#F7F8FA, 0.1);
    background-color: transparent;
    font-family: $font-family-roboto;
    font-size: 1rem;
    letter-spacing: -0.01em;
    line-height: 1.458;
    color: #fff;
    outline: none;
    position: relative;
    transition: border-bottom-color 300ms;

    &::-webkit-input-placeholder {
        color: rgba(#FFFFFF, 0.3);
    }
    &::-moz-placeholder {
        color: rgba(#FFFFFF, 0.3);
    }
    &:-ms-input-placeholder {
        color: rgba(#FFFFFF, 0.3);
    }
    &:-moz-placeholder {
        color: rgba(#FFFFFF, 0.3);
    }

    &:focus {
        border-bottom-color: rgba(#fff, 0.8);
    }

    @media (min-width: $md) {
        font-size: 1.5rem;
    }
}

.form {
    counter-reset: form-group-num;
    &__group {
        padding-top: 35px;
        counter-increment: form-group-num;
        position: relative;
        &::before {
            content: counter(form-group-num);
            display: block;
            vertical-align: middle;
            width: 32px;
            height: 32px;
            line-height: 32px;
            position: absolute;
            top: 27px;
            left: 0;
            border-radius: 50%;
            border: 1px solid rgba(#fff, 0.23);
            font-family: $font-family-roboto;
            font-size: 0.85rem;
            font-weight: 500;
            text-align: center;
            color: $color-accent;
            transition: color 400ms;
        }
        label {
            display: block;
            color: #fff;
            font-family: $font-family-dinpro;
            font-size: 0.875rem;
            font-weight: 700;
            letter-spacing: -0.01em;
    
            & + .input-text,
            & + .textarea {
                margin-top: 8px;
            }
        }

        .input-text {
            width: 100%;
        }

        &.form-error {
            .input-text {
                border-bottom-color: tomato;
            }
        }
    }

    .btn[type=submit] {
        width: 100%;
        margin-top: 45px;
    }

    @media (max-width: $md) {
        &__group {
            padding-left: 40px;
        }
    }

    @media (min-width: $md) {
        &__group {
            padding-top: 70px;
            padding-left: 92px;
            &::before {
                width: 64px;
                height: 64px;
                top: 46px;
                line-height: 64px;
                font-size: 1.25rem;
            }
            label {
                font-size: 1rem;
                & + .input-text,
                & + .textarea {
                    margin-top: 12px;
                }
            }
        }

        .btn[type=submit] {
            margin-top: 60px;
        }
    }

    @media (min-width: $lg) {
        &__container {
            margin: 0 auto;
            max-width: 575px;
        }
        &__group {
            padding-left: 0;
            &::before {
                left: -92px;
            }
        }
    }
}