.item {
    position: relative;
    &__icon {
        height: 80px;
        img {
            width: auto;
            max-height: 70px;
        }
    }
    &__title {
        margin-bottom: 20px;
        font-family: $font-family-dinpro;
        font-size: 1.125rem;
        font-weight: 700;
        color: #000;
    }
    &__bullet {
        display: block;
        width: 24px;
        height: 2px;
        background-color: $color-accent;
    }
    &__text {
        margin-top: 20px;
    }

    @media (min-width: $md) {
        &__title {
            font-size: 1.25rem;
        }
    }
}

.items-list {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        width: 100%;
        margin: 1.25rem 0;
    }

    @media (min-width: $md) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        & > li {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 15px;
        }
    }

    @media (min-width: $lg) {
        & > li {
            flex: 0 0 33%;
            max-width: 33%;
        }
    }

    @media (min-width: $xl) {
        margin-left: -35px;
        margin-right: -35px;
        & > li {
            padding: 0 35px;
        }
    }
}