*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	line-height: 1.2;
	color: #4E4D53;
	background-color: #fff;
}
.h1,
.h2 {
	font-family: $font-family-dinpro;
	font-weight: normal;
	color: #222222;
}
.h1 {
	font-size: 2rem;
	line-height: 1.125;
	margin: 1.5rem 0;
	letter-spacing: -0.02em;
}
.h2 {
	font-size: 1.5rem;
}
@media (min-width: 992px) {
	.h1 {
		font-size: 3rem;
	}
	.h2 {
		font-size: 2.5rem;
	}
}
p {
	font-family: $font-family-roboto;
	line-height: 1.625;
	margin: 1.625rem 0;
}

.s1 {
	padding: 18vw 0 16vw;
	text-align: center;

	&__container {
		@include container;
	}

	.h1 {
		margin-top: 0;
	}

	p {
		margin: 0 0 32px;
	}

	@media (min-width: $lg) {
		padding: 165px 0 125px;
	}
}

.s2 {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background-color: #F7F5FA;
	&__bg {
		width: auto;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}
	&__container {
		@include container(1002px);
	}
	@media (max-width: $lg) {
		padding: 35vw 0 40px;
		&__bg {
			height: 50vw;
		}
	}
	@media (min-width: $lg) {
		padding: 504px 0 80px;
	}
}

.s3 {
	padding: 30px 0 35px;

	&__container {
		@include container(805px);
	}

	@media (min-width: $lg) {
		padding: 70px 0 75px;
	}
}

.s4 {
	padding: 40px 0 50px;
	background-color: #F7F5FA;
	.h2 {
		margin: 0 0 2rem;
	}
	&__container {
		@include container;
		padding-left: 35px;
		padding-right: 35px;
	}
	@media (min-width: $lg) {
		padding: 120px 0 115px;
	}
}

.s5 {
	padding: 40px 0 50px;
	background-color: #161616;
	.h2 {
		margin-top: 0;
		color: #fff;
	}
	&__container {
		@include container;
	}
	@media (min-width: $lg) {
		padding: 100px 0 120px;
	}
}
