// stylelint-disable no-empty-source
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

@font-face {
    src: url("../fonts/DINPro.ttf") format("truetype"),
            url("../fonts/DINPro.woff") format("woff");
    font-family: "DIN Pro";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    src: url("../fonts/DINPro-Bold.ttf") format("truetype"),
            url("../fonts/DINPro-Bold.woff") format("woff");
    font-family: "DIN Pro";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url("../fonts/Gilroy-Extrabold.ttf") format("truetype"),
            url("../fonts/Gilroy-Extrabold.woff") format("woff");
    font-family: "Gilroy";
    font-weight: 800;
    font-style: normal;
}