// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-accent: #F47821;

// FONTS
$font-family-gilroy: 'Gilroy', sans-serif;
$font-family-dinpro: 'DIN Pro', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

// BREAKPOINTS
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px